<div class="form">
    <form>
        newTitle: "";
        newImage: "";
        newText: "";
        newDate: "";

        <div>
            <label for="title">Titulo</label>
            <input type="text">
        </div>
        <div>
            <label for="image">Imagen</label>
            <input type="text">
        </div>
        <div>
            <label for="text">Texto</label>
            <input type="text">
        </div>
        <div>
            <label for="date">Fecha</label>
            <input type="text">
        </div>
    </form>
    <h2>Blog de viajes</h2>
    
    <hr>
    <div>
    </div>
<div>