<h2>Blog de viajes</h2>
<div class="form">
    <form (ngSubmit)="addNews()">
        <div>
            <label for="title">Título</label>
            <input type="text" id="title" [(ngModel)]="newTitle" name="title">
        </div>
        <div>
            <label for="image">Imagen</label>
            <input type="text" id= "image" name="image" [(ngModel)]="newImage">
        </div>
        <div>
            <label for="text">Texto</label>
            <input type="text" id="text" [(ngModel)]="newText" name="text">
        </div>
        <div>
            <label for="date">Fecha</label>
            <input type="text" id="date" [(ngModel)]="newDate" name="date">
        </div>
        <button type="submit">Publicar viaje</button>
    </form> 
    

    
    <hr>

    <div class="noticias-publicadas">
        <h2>Noticias anteriores</h2>
        <div *ngFor="let newA of newsArray" class="noticia">
            <h3>{{newA.title}}</h3>
            <img [src]="newA.imageUrl" [alt]="newA.title"/>
            <p>{{newA.text}}</p>
            <p class="fecha">{{newA.date}}</p>
        </div>
    </div>
</div>
